$submitColor: rgb(10, 61, 17);
$submitColor_active: rgb(0, 255, 34);
$focus_orange: rgb(255, 72, 0);

form {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color: var(--color-default);
}
.contentLeft {
    display: flex;
    width: auto;
    min-width: 35%;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    select{
        height: 22px;
    }

}
.rowLine {
    padding: 18px;
    display: flex;
    flex-direction: row;
    .column {
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
        align-self: center;
        flex-direction: column;

    }
}
label{
    font:{
        size: 18px;
        weight: bold;
    }
}
input[type="submit"]{
    margin: 5%;
    width: 250px;
    height: 50px;
    align-self: center;
    background-color: $submitColor;
    border-radius: 8px;
    border-width: 0px;
    transition: 0.4ms;
    font:{
        size: 18px;
        weight: bold;
    }
    color: black;
    &:active{
        background-color:  $submitColor_active;
        border: 2px solid white;
        color: $submitColor;
    }
}
input[type="text"]{
    height: 30px;
    font-size: 16px;
    padding: 2%;
    border-radius: 8px;
    border: 0px transparent;
    &:focus{
        outline: none;
        box-shadow: 0 0 0 2pt $focus_orange;
        
    }
}
select {
    padding: 2%;
}

textarea{
    width: 89%;
    height: 140px;
    font-size: 22px;
    resize: none;
    align-self: center;
    padding: 5%;
    border-radius: 8px;
    &:focus{
        outline: none;
        box-shadow: 0 0 0 2pt $focus_orange;
        
    }
}
