.selectBox{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    .selectedBox{
        position: absolute;
        display: flex;
        flex-direction: row;
        width: auto;
        border:1px solid black;
        border-radius: 8px;
        height: auto;
        padding: 3px;
        background-color: red;
        .selectedItem{
            width: auto;
            min-width: 20%;
        }
        svg {
            width: auto;
            min-width: 5%;
        }
        z-index: 2;
    }
    .optionsSelect{
        position: absolute;
        z-index: 1;
        background-color: white;
    }
}